p{

    font-size: 20px;
}

div{
background-color: dimgray;
color:lightcoral;
    display:inline-block;
}

#nopadding{
    padding:0px;
}

#padding{
    padding:50px;
}

#toppadding{
    padding-top: 50px;
}

#rightpadiing{
    padding-right: 50px;
}

#leftpadding{
    padding-left: 50px; 
}
#bottompadding{
    padding-bottom: 50px;
}
/*order is always TOP RIGHT BOTTOM LEFT*/

#mixpadding{
    padding:10px 40px 100px 20px;
}
#dottedborder{

    border:3px dotted navy;
}
#dashedborder{
    border:2px dashed red;
}

#solidborder{
    border:4px solid yellow;
}

#doubleborder{
    border:3px double  green;
}
#grooveborder{

    border:4px groove orange;
}
#ridgeborder{
  border:  5px ridge purple;
}
#insetborder{
    border:10px inset grey;
}
#outsetborder{
    border:10px outset grey;
}
/* TOP RIGHT BOTTOM LEFT*/

#mixedborder{
    border-color:chartreuse;
    border-style: dotted outset inset ridge;
    border-width:20px;
}