p{
  font-size:20px;
}

div{
background-color: dimgray;
color:lightcoral;
    display:inline-block;
}

#nopadding{
    padding:0px;
}

#padding{
    padding:50px;
}

#toppadding{
    padding-top:50px;
}

#rightpadiing{
    padding-right:50px;
}

#leftpadding{
    padding-left:50px; 
}
#bottompadding{
    padding-bottom:50px;
}
/*order is always TOP RIGHT BOTTOM LEFT*/

#mixpadding{
    padding:10px 40px 100px 20px;
}
#dottedborder{

    border:3px dotted navy;
}
#dashedborder{
    border:2px dashed red;
}

#solidborder{
    border:4px solid yellow;
}

#doubleborder{
    border:3px double  green;
}
#grooveborder{

    border:4px groove orange;
}
#ridgeborder{
  border:5px ridge purple;
}
#insetborder{
    border:10px inset grey;
}
#outsetborder{
    border:10px outset grey;
}
/* TOP RIGHT BOTTOM LEFT*/

#mixedborder{
    border-color:chartreuse;
    border-style:dotted outset inset ridge;
    border-width:20px;
}
.row1{
    width:25%;
    border:2px solid black;
    padding:10px;
    text-align:center;
    margin-left:20px;
    margin-right:20px;
}
.row2{
    width:30%;
    border:2px solid black;
    margin-top:20px;
}
#center{
    display:block;
    width:25%;
    margin:auto;
    margin-top:25px;
    margin-bottom:50px;

}
#perLeftMargin{
height:200px;
width:35%;
margin-left:10%; 
 margin-right:10%;
}

#perRightMargin{
height:200px;
width:35%;

}